@model PermissionsUserVm

<tr id="row-@Model.Email">
    <td>
        @Html.DisplayFor(modelItem => Model.Email)
    </td>
    
    <td>
        <a type="button" class="btn btn-danger , deleteAjax" tabindex="0" data-toggle="popover"
           data-trigger="focus" data-content="" title="Are you sure?" asp-action="revokepermissions" asp-controller="Grocery" >
            Revoke
        </a>
    </td>
</tr>
